* {
  padding: 0;
  margin: 0;
}

:root {
  --color_1: #780000;
  --color_1_hover: #6d0b0b;
  --color_2: #C1121F;
  --color_2_hover:#ac5959;
  --color_3: #FDF0D5;
  --color_4: #003049;
  --color_5:#669BBC;
  --color_white: #ffff;
  --color_black: #060606;
}