* {
  padding: 0;
  margin: 0;
}

:root {
  --color_1: #780000;
  --color_1_hover: #640000;
  --color_2: #C1121F;
  --color_2_hover:#9A0E19
  ;
  --color_3: #FDF0D533;
  --color_4: #003049;
  --color_5:#669BBC;
  --color_white: #ffff;
  --color_black: #060606;
}