* {
  padding: 0;
  margin: 0;
}

:root {
  --color_1: #920D0D;
  --color_1_hover: #6d0b0b;
  --color_2: #F87F7F;
  --color_2_hover:#ac5959;
  --color_3: #70160E;
  --color_4: #E1E3DB;
  --color_white: #ffff;
  --color_black: #060606;
}